
/.vs/
/.vsconfig
/Library/ArtifactDB
/Library/ArtifactDB
/Library/SourceAssetDB
/Temp/UnityLockfile
/Assets/Photon/PhotonUnityNetworking/Resources/PhotonServerSettings.asset
/Assets/scripts/UI/networklangen.cs
